.Prompt-Container,
.Card-Form-Container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
  z-index: 14;
}

.Overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
}
.Card-Form {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: left;
  top: 1rem;
  right: 0;
  bottom: 2rem;
  left: 0;
  padding: .4rem .4rem 2rem .4rem;
  margin: auto;
  height: fit-content;
  max-height: 95vh;
  width: 80vw;
  max-width: 33rem;
  background-color: rgb(227, 238, 234);
  border-radius: 0.3rem;
  overflow-y: auto;
}

input {
  min-width: 100%;
  max-width: 100%;
  padding: 0.3rem;
  margin: .2rem 0 0.7rem 0;
  border: none;
}

.Store-Container,
.Input-Container {
  padding: 1rem;
}

.Button-Container {
  display: flex;
  position: relative;
}

.Card-Form .Tab {
  padding-top: .4rem;
}

/* align right */
.a-r :first-child {
  margin-left: auto;
}
/* fill and center */
.fill > * {
  display: flex;
  flex-basis: 100%;
}

/* bottom border */
.b-b {
  border-bottom: .1rem solid #6c857d;
}

.Button-Container h4.Card-Action-Status {
  align-self: center;
  padding: .3rem 0;
  margin-left: 0;
  margin-right: auto;
}

.List-Container {
  height: 50vh;
  padding: .4rem 0 2rem 0;
  overflow-y: auto;
}

.List-Container .Card-Holder {
  max-width: unset;
  margin: .6rem .4rem;
}
.List-Container .Card {
  height: 2.2rem;
  padding: 0 3rem 0 2.2rem;
}
.List-Container .Card h4:first-child {
  margin-right: .5rem;
}

.List-Container .Card-Wrapper {
  position: relative;
}
.List-Container .Check-Box {
  display: block;
  position: absolute;
  top: 0; bottom: 0;
  left: .7rem;
  margin: auto 0;
}
.List-Container .Card h4:nth-child(2) {
  display: block;
}

.Card-Form .Delete-Button {
  visibility: visible;
  opacity: .7;
  height: 1.7rem;
  width: 2.2rem;
  padding: .36rem 0;
  pointer-events: unset;
}