section.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

form.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  max-width: 96%;
  margin: .7rem 0 2.1rem 0;
}

input.Defined {
  border-radius: .17rem;
  border: .1px solid rgb(161, 196, 191);
}

.Login button {
  height: 1.7rem;
  width: 100%;
  margin: .4rem;
  border-radius: .17rem;
}

a.Login {
  opacity: .8;
}
a.Login:hover {
  opacity: 1;
}

a.Login h2 {
  font-size: .77rem;
  color: rgb(125, 79, 168);
  text-decoration: underline;
}