/* Text Button minimal */

.Text-Button {
  color: rgb(139, 139, 201);
  font-size: .9rem;
  padding: .3rem 1rem .2rem 1rem;
  cursor: pointer;
}

input:focus {
  outline: .1rem solid rgba(139, 139, 201, 0.308);
}