.Column {
  display: flex;
  position: relative;
  flex-direction: column;
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  /* background-color: rgb(227, 238, 234); */
}

.Column-Heading-Group {
  display: flex;
  padding-left: .6rem;
  margin-bottom: .3rem;
  border-bottom: .1rem solid rgb(202, 181, 181);
}

.Column-Heading-Group :first-child {
  margin-right: auto;
}

.Column .Container {
  flex-direction: column;
}
/* .Column.Cask {
  top: 3rem;
} */


.Entry-Slot {
  display: flex;
  position: relative;
  height: 2.4rem;
  width: 100%;
  padding: .2rem;
  background-color: #e8fff8;
  
}

.columns .Entry-Slot {
  flex-direction: column;
}
.rows .Entry-Slot:not(:first-child, .first-in-group) {
  border-top: .04rem solid rgb(230, 213, 213);
}
.Group .columns:not(:first-child) .Container {
  border-left: .04rem solid rgb(230, 213, 213);
}

.Cask .Entry-Slot {
  height: 3.3rem;
}
.Entry-Slot.hero {
  background-color: #bfc4d2;
}
.Entry-Slot.large {
  height: 8.8rem;
}
.Entry-Slot.first-in-group {
  margin-top: 1rem;
}

.Bench {
  grid-column: 2;
}

.Bench .Entry-Slot {
  flex-wrap: wrap;
  height: fit-content;
  padding: .2rem .2rem .4rem .2rem;       /* This should not be needed, check the idle meassage */
}
.Bench-Row-Break {
  flex-basis: 100%;
}
.Idle-Message {
  padding: .2rem 0 0 .6rem;
  line-height: 2rem;
  color: #07c6a2;
  pointer-events: none;
}

.Row-Title {
  font-size: 1.1rem;
  line-height: 2.2rem;
  min-width: 1rem;
  text-align: right;
  position: absolute;
  left: -1.6rem;
}


